<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <div class="text-muted">&copy;Cloud 2023</div>
        <div class="text-muted">&copy;Kindie</div>
       
    </div>
</footer>