<%layout('layouts/boilerplate') %> 
<%-include('../partials/flash') %> 
    <div class="row">
        <h1 class="text-center">LOGIN HERE</h1>
        <div class="col-6 offset-3">
            <!-- <h2>Register a new employee here</h2> -->
            <form action="/operator/login"method="POST">
              <div class="mb-3">
                <label class="form-label"for="last">username:</label>
                <input  class="form-control" type="text" name="username" id="username"required>
              </div>
              <div class="mb-3">
                <label class="form-label" for="password">password:</label>
                <input  class="form-control" type="password" name="password" id="password"required>
              </div>
              <div class="mb-3">
                <button class="btn btn-success">Login</button>
               </div>
          </form>
        </div>
    </div>   