<%layout('layouts/boilerplate') %> 
    <%if(!currentUser){%>
        <a href="/operator/signup">Signup</a>
    <a href="/operator/login">Login</a>
        <% }else{ %> 
     
        <a href="/admin/logout">Logout</a>
    <a href="/employees">all employees</a>
    <a href="/employees/new">add new employee</a>

        <% } %>  
