<%layout('layouts/boilerplate') %> 
    <%-include('./partials/flash') %> 
    <link rel="stylesheet" href="app1.css">
    <h1>TETERCONSULT</h1>
    <div class="containner">
        <div class="image ">
            <img src="amma_poster-1392x878.jpg" alt="logo">
        </div>
        <div class="hero">
            <h1>MATERIAL MANAGEMENT SYSTEM</h1>
        </div>
    
   
