<%layout('layouts/boilerplate') %> 
    <%-include('./partials/flash') %> 
    <link rel="stylesheet" href="app1.css">
    <h1>CLOUD_CONSULT</h1>
    <p>try to login as admin with userName: <strong>kindie</strong> and apassword : <strong>2023</strong> </p>
    <p> after login as <strong>admin</strong> you can add an other admin or operator  </p>
    <p>if you are an <strong>operator</strong> you can add an other employee </p>

    <div class="containner">
        <div class="image ">
            <img src="amma_poster-1392x878.jpg" alt="logo">
        </div>
        <div class="hero">
            <h1>MATERIAL MANAGEMENT SYSTEM</h1>
        </div>
    
   
