
<link rel="stylesheet" href="login.css">

<%layout('layouts/boilerplate') %> 
<%-include('./partials/flash') %>
<div class="con">
 
<div class="login">
<a href="/admin/login">Admin</a>
</div>
<div class="login">
<a href="/operator/login">Operator</a>
</div>
</div>