.login{
     
     background-color: rgba(14, 3, 3, 0.841);
    margin-top: 40px;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    text-align-last: center;
    border-radius: 2px;
    
    
}
.login a{
    text-decoration: none;
    color: rgb(206, 203, 203);
    transition: 0.5 ease-in-out;
}
.con{
    display: flex;
    flex-direction: row;
    
}
.login a:hover{
    color:white;
}